@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import '~bootstrap/scss/bootstrap';

:root {
  --days-width: 0
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.agenda-container {
  display: block;
  position: relative;
}

.btn-success {
  background-color: rgb(111, 228, 195);
  border-color: rgb(111, 228, 195);
  color: #000;
}

.agenda {
  .header {
    text-align: center;

    .button-left {
      float: left;
      a {
        img {
          width: 2rem;
        }
      }
    }

    .button-right {
      float: right;
      a {
        img {
          width: 2rem;
        }
      }
    }
  }

  .week {
    font-size: 12px;
    line-height: 12px;
    color: rgba(0,0,0, 0.8);
    display: block;
    position: relative;
    left: 0;
    margin: 0;
    clear: both;
    padding: 10px 14px;

    .weekday {
      float: left;
      width: calc(100% / 7);
      text-align: center;
      font-size: 1rem;
    }
  }

  .week_days {
    @extend .week;

    .week_day {
      @extend .weekday;
      padding: 2em;
      line-height: 12px;
      border: 1px solid;
      cursor: pointer;
      transition-duration: 1s;
      transition-property: background-color;

      &:hover {
        background-color: rgba(0,0,0, 0.1);
      }

      &.selected {
        background-color: rgba(0,0,0,0.2);
      }
    }

    .spacer {
      opacity: 0;
      cursor: auto;
    }
  }
}
