<div class="agenda">
  <div class="header">
    <div class="button-left">
      <a href="" ng-click="vm.previousMonth()"> <img src="../../../assets/images/arrow_left.svg" /> </a>
    </div>
    <div class="button-right">
      <a href="" ng-click="vm.nextMonth()"> <img src="../../../assets/images/arrow_right.svg" /> </a>
    </div>
    <div class="current-year">
      <h3>{{ vm.year }}</h3>
    </div>
  </div>

  <div class="week">
    <div class="weekday" ng-repeat="day in vm.days"> {{ day }} </div>
  </div>

  <div class="week_days">
    <div ng-if="vm.WeekStart" class="week_day spacer" ng-style="vm.spacerWidth"> 0
    </div>

    <div class="week_day" ng-class="{'selected': day.isSame(vm.currentDate)}" ng-click="vm.selectDay(day)"
      ng-repeat="day in vm.monthDays"> {{ day.format('D') }} </div>
  </div>

</div>
