<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <calendar class="agenda-container"></calendar>
    </div>

    <div class="col-4 mt-5 pt-5">
      <tenants-manager></tenants-manager>
    </div>
  </div>
</div>
