<div class="tenants-manager">
  <div class="card">
    <div class="card-body">
      <form name="stayForm" ng-submit="confirmStay(stayForm)">
        <div class="form-group row">
          <label for="name" class="col-5 col-form-label">Tenant Name: </label>
          <div class="col-7">
            <input type="text" ng-model="vm.tennantName" required placeholder="Enter tenant name" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label for="" class="col-5 col-form-label">Stay Date: </label>
          <div class="col-7">
            <div class="form-control-plaintext">{{ vm.selectedDay }}</div>
          </div>
        </div>

        <button ng-click="vm.confirmStay(stayForm)" class="btn btn-success btn-block">Confirm Stay</button>
      </form>
    </div>
  </div>

  <div class="card mt-4" ng-repeat="tenant in vm.tenants">
    <div class="card-body">
      <div class="card-text mb-4">
        Tenant name: {{ tenant.name }} <br>
        Stay Date: {{ tenant.parsedTime.format('MMM D') }}
      </div>

      <button class="btn btn-danger btn-block" ng-click="vm.cancelStay(tenant)">Cancel Stay</button>
    </div>
  </div>
</div>
